div#docs {
	align-items: flex-start;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

ul.menuSections {
	display:inline-block;
	flex-grow: 0;
	list-style-type:none;
	min-width: 0;
	padding-inline-start: 0;
	width: 200px;
}

ul.menuSections li {
	list-style-type: none;
}

ul.menuSections li span {
	font-weight: bolder;
}

ul.menuPages {
	display:inline;
	list-style-type:none;
}

ul.menuPages li {
	list-style-type: none;
	margin-left: 20px;
}

ul.menuPages li:before {
	content: "-";
	padding-right: 5px;
}

ul.menuPages li.selected:before {
	content: "\07CB";
}

ul.menuPages li.selected {
	font-weight: bold;
}

div.page {
	display:inline-block;
	flex-grow: 1;
	width: 400px;
}

ul.platforms {
	background: #eeeeee;
	border: 1px solid black;
	display: inline-block;
	list-style-type: none;
	margin: 0 auto;
	padding: 5px 10px;
}

ul.platforms li {
	display: inline;
	padding: 0 5px;
}

ul.platforms li.selected {
	font-weight: bold;
}
